<header>
    <div class="header-content">
        <div class="container">
            <div class="header-desktop hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="header-call-menu">
                            <span>Categorias</span>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <div class="header-account">
                            <a href="/account/">Minha Conta</a>
                        </div>

                        <div class="header-attendance">
                            <a href="/institucional/fale-conosco">Atendimento</a>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <h1 class="nav-logo" id="logo">
                            <a href="/" title="Candall">
                                <img src="/arquivos/candall-new-logo.png" alt="Candall" class="img-responsive" />
                            </a>
                        </h1>
                    </div>

                    <div class="col-xs-4">
                        <div class="header-search-box">
                            <vtex.cmc:fullTextSearchBox />
                        </div>

                        <div class="header-cart">
                            <a href="/checkout">
                                <vtex.cmc:AmountItemsInCart />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-mobile hidden-md hidden-lg">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="header-call-menu-mobile">
                            <span></span>
                        </div>
                    </div>

                    <div class="col-xs-8">
                        <h1 class="nav-logo" id="logo">
                            <a href="/" title="Candall">
                                <img src="/arquivos/candall-new-logo.png" alt="Candall" class="img-responsive" />
                            </a>
                        </h1>
                    </div>

                    <div class="col-xs-2">
                        <div class="header-cart">
                            <a href="/checkout">
                                <vtex.cmc:AmountItemsInCart />
                            </a>
                        </div>
                    </div>
                </div>

                <div class="header-search-box">
                    <vtex.cmc:fullTextSearchBox />
                </div>
            </div>
        </div>
    </div>

    <div class="header-menu-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-9">
                    <vtex.cmc:departmentNavigator />
                </div>

                <div class="col-xs-3">
                    <vtex:bannerMenu />
                </div>
            </div>
        </div>
    </div>

    <div class="header-menu-content-mobile">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <vtex.cmc:departmentNavigator />
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="header-account">
                        <a href="/account/">Minha Conta</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="header-orders">
                        <a href="/account/orders/">Meus Pedidos</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="header-attendance">
                        <a href="/institucional/fale-conosco/">Atendimento</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>