<footer>
    <div class="footer-newsletter">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <div class="footer-newsletter-text">
                        <h3><strong>Inscreva-se em</strong> <br /> nossa Newsletter</h3>
                        <p> Receba novidades e promoções exclusivas por e-mail! </p>
                    </div>
                </div>

                <div class="col-xs-12 col-md-5">
                    <div class="footer-newsletter-form">
                        <vtex.cmc:newsletterOptIn />
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-links-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="footer-links">
                        <div class="row">
                            <div class="col-xs-12 col-lg-6">
                                <div class="footer-links-contato">
                                    <h3>Contato</h3>
                                    <div class="contato-interno">
                                        <p>
                                            <span class="fone"></span> (11) 4199-5050
                                        </p>
                                        <p>
                                            <span class="mail"></span> contato@candall.com.br
                                        </p>
                                        <a href="https://www.facebook.com/CANDALL.CORPORATIVO" target="_blank">
                                            <span class="face"></span>
                                        </a>
                                        <a href="https://www.instagram.com/candall/" target="_blank">
                                            <span class="insta"></span>
                                        </a>
                                        <a href="https://twitter.com/Candall1" target="_blank">
                                            <span class="twitter"></span>
                                        </a>
                                    </div>
                                </div>

                                <div class="footer-links-institucional">
                                    <h3>Institucional</h3>
                                    <ul>
                                        <li>
                                            <a href="/institucional/quem-somos"> Quem Somos </a>
                                        </li>
                                        <li>
                                            <a href="/institucional/politica-privacidade"> Política de Privacidade </a>
                                        </li>
                                        <li>
                                            <a href="/institucional/politica-seguranca"> Política de Segurança </a>
                                        </li>
                                        <li>
                                            <a href="/institucional/politica-entrega"> Política de Entrega </a>
                                        </li>
                                        <li>
                                            <a href="/institucional/termo-garantia"> Termo de Garantia </a>
                                        </li>
                                        <li>
                                            <a href="/institucional/troca-devolucoes"> Troca e Devoluções </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-xs-12 col-lg-6">
                                <div class="footer-links-ajuda">
                                    <h3>Ajuda</h3>
                                    <ul>
                                        <li>
                                            <a href="/account/orders"> Meus Pedidos </a>
                                        </li>
                                        <li>
                                            <a href="/account"> Minha Conta </a>
                                        </li>
                                        <li>
                                            <a href="/institucional/fale-conosco"> Fale Conosco </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="footer-links-seguranca">
                                    <h3>Segurança</h3>

                                    <div class="img-seg">
                                        <a href="https://letsencrypt.org/" target="_blank">
                                            <img src="/arquivos/lets-encrypt.png" alt="Segurança Lets Encrypt" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-4">
                    <div class="footer-info-payments">
                        <h3>Formas de Pagamento</h3>

                        <div class="footer-info-payments-content">
                            <div class="footer-info-payments-cartao">
                                <p>Cartões de Crédito:</p>
                                <img src="/arquivos/cartao-credito-v2.png" alt="Cartão de crédito" />
                            </div>

                            <div class="footer-info-payments-boleto">
                                <p>Boleto:</p>
                                <img src="/arquivos/boleto-v2.png" alt="Boleto" />
                            </div>

                            <div class="footer-info-payments-debito">
                                <p>Depositio:</p>
                                <img src="/arquivos/debito-v2.png" alt="Débito" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footer-info">
            <p>
                Candal Industria e Comércio de Móveis Ltda - CNPJ: 11.433.649-0001/12
                <br />
                Av. Henrique Gonçalves Batista, 2035 - Barueri - SP - CEP: 06420130
            </p>
        </div>

        <div class="footer-logos">
            <a href="/">
                <img src="/arquivos/logo-footer.png" alt="Candall" />
            </a>

            <a href="http://pt.vtex.com/" target="_blank">
                <img src="/arquivos/vtex.png" alt="Vtex" />
            </a>
        </div>
    </div>
</footer>