<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
    lang="en-us">

<head>
    <title>Candall</title>
    <vtex:metaTags />
    <vtex:template id="candall-new-tags" />

    <!-- <meta name="google-site-verification" content="3Cwc7XPaNb0nxXSF-BYVX9idx7PQJYFkn8H8auOAGUo" /> -->
</head>

<body>
    <vtex:template id="candall-new-header" />

    <section>
        <div id="login-content" class="container">
            <vtex.cmc:userLogin />
        </div>
    </section>

    <vtex:template id="candall-new-footer" />
</body>

<vtex:template id="candall-new-scripts" />

</html>